.FondoBody {
    background-color: black;
}

.img-thumbnail {
    width: 6%;
    height: 6%;
}

.modalp {
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 35%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
}
.Corfirmation{
    background-color: aqua;
    border-radius: 25px;
}
